body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#header_container {
  border: 3px solid darkolivegreen;
  margin: auto;
  width: 100%;
}

.column {
  min-height: 1500px;
}

#left_div {
  width: 20%;
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  color: chocolate;
}
#my_img {
  position: relative;
  width: 350px;
  height: 400px;
}

<<<<<<< HEAD
#middle_div {
  width: 60%;
  float: left;
  background-color: aliceblue;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
=======
#middle_div{
    width: 60%;
    float: left;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
>>>>>>> 836ef7d65ca0e3704f4678453721fe013caeb13c
}
#h2 {
  color: deepskyblue;
}
#p2 {
  color: blue;
}
#my_para {
  color: darkslategray;
  font-size: 20px;
}

#right_div {
  width: 20%;
  float: left;
  font-size: 10px;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#my_form {
  display: grid;
  align-content: center;
  background-color: darkslateblue;
  opacity: 0.8;
  justify-content: center;
}

#msg-container-1 {
  display: grid;
  justify-items: center;
}

#content-container {
  display: gird;
  text-align: center;
}

#name-input {
  grid-row-start: 1;
}

<<<<<<< HEAD
#weather-container,
img {
  width: 100%;
}
#weather-container,
card {
  margin: 10px;
}
#weather-container {
  position: sticky;
  top: 30px;
  text-align: center;
}
=======
#form-container {
  color: #0AA1DD;
  opacity: 0.9;
  padding: 5px 12%;
  margin-bottom: 20%;
}
>>>>>>> 836ef7d65ca0e3704f4678453721fe013caeb13c
