body {
  margin: 0;
  width: 100%;
}

#header_container{
    border: 2px;
    width: 100%;
    background-color: #79DAE8;
    margin-bottom: solid 5px #79DAE8;
    padding: 1% 0% 1% 5%;
}

.column {
  min-height: 100vmin;
}

.navbar-brand.mb-0.h1{
    color: #2155CD;
    font-size: xx-large;
}

#left_div {
  width: 20%;
  float: left;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  color: chocolate;
}
#my_img {
  position: relative;
  width: 350px;
  height: 400px;
}

#middle_div {
  width: 60%;
  float: left;
  background-color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  height: fit-content;
}

#h2 {
  color: deepskyblue;
}
#p2 {
  color: blue;
}
#my_para {
  color: darkslategray;
  font-size: 20px;
}

#right_div {
  width: 20%;
  float: left;
  background-color: white;
  font-size: 10px;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#my_form {
  display: grid;
  align-content: center;
  background-color: darkslateblue;
  opacity: 0.8;
  justify-content: center;
}

#msg-container-1 {
  display: grid;
  justify-items: center;
  padding-bottom: 15%;
}

#content-container {
  display: gird;
  text-align: center;
}

#name-input {
  grid-row-start: 1;
}

#weather-container,
img {
  width: 100%;
}

#weather-container,
card {
  padding-left: 15%;
  margin: 10px;
}
#weather-container {
  position: sticky;
  top: 40px;
  text-align: center;
}

#form-container {
  color: #0AA1DD;
  opacity: 0.9;
  padding: 5px 12%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.card-title {
  font-family: 'Amatic SC', cursive;
  font-size: x-large;
}

#my_footer{
    background-color: #79DAE8;
    text-align: center;
    width: 100%;
    font-size: 15px; 
    padding-top: 50px;
    padding-bottom: 40px;
} 
